@(fornecedores: List[Fornecedor])
@mainAdmin(Messages("fornecedor.titulo")) {
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="@routes.FornecedorController.novoFornecedor()">
        @Messages("fornecedor.novo")
        </a>
      </li>
      <li class="active"><a href="@routes.Application.indexAdmin()">@Messages("global.voltar")</a></li>
    </ul>
  </div>

  <table class="table table-striped table-bordered" id="example"
  cellpadding="0" cellspacing="0" border="" width="100%">
    <thead>
      <tr class="active">
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tfoot>

        <!-- Lista todas as categorias cadastradas -->
      @for(fornecedor <- fornecedores) {
        <tr>
            <!--Exibe informações -->
          <th><a href="@routes.FornecedorController.detalhar(fornecedor.getCodigo())">
            @fornecedor.getCnpj()
          </a></th>
          <th><a href="@routes.FornecedorController.detalhar(fornecedor.getCodigo())">
            @fornecedor.getNome()
          </a></th>
          <th>
          @fornecedor.getTelefone1()
          </th>
          <th><a href="mailto:@fornecedor.getEmail()">
          @fornecedor.getEmail()
          </a></th>
        </tr>
      }
    </tfoot>
  </table>
}