@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/sb-admin.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/plugins/morris.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/plugins/morris/raphael.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/plugins/morris/morris.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/plugins/morris/morris-data.js")" type="text/javascript"></script>
    </head>
    <body>

        <div id="wrapper">

                <!-- Menu superior -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@routes.Application.indexAdmin()">
                    <img src="@routes.Assets.at("images/logo.png")" height="45px"/> </a>
                    <a class="navbar-brand" href="@routes.Application.indexAdmin()">@Messages("global.titulo")</a>
                </div>

                    <!-- Opções do Menu superior -->
                    <!--
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                    -->
                    <!-- Menu lateral esquerdo -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                            <!-- Módulo Produtos -->
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#produtos">Módulo Produtos <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="produtos" class="collapse">
                                    <!-- Categoria -->
                                <li>
                                    <a href="@routes.CategoriaController.lista()">Categoria</a>
                                </li>
                                    <!-- Fornecedor -->
                                <li>
                                    <a href="@routes.FornecedorController.lista()">Fornecedor</a>
                                </li>
                                    <!-- Produto -->
                                <li>
                                    <a href="@routes.ProdutoController.lista()">Produto</a>
                                </li>
                            </ul>
                        </li>
                            <!-- Módulo 2 -->
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#modulo2">Módulo Clientes <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="modulo2" class="collapse">
                                    <!--  -->
                                <li>
                                    <a href="@routes.ClienteController.lista()">Cliente</a>
                                </li>

                            </ul>
                        </li>
                            <!--
                        <li>
                            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                        </li>
                        <li>
                            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                        </li>
                        <li>
                            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li>
                                    <a href="#">Dropdown Item</a>
                                </li>
                                <li>
                                    <a href="#">Dropdown Item</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                        </li>
                        <li>
                            <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                        </li>
                        -->
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </nav>

                <!-- Conteúdo da página -->
            <div id="page-wrapper">

                <div class="container-fluid">

                        <!-- Cabeçalho da página interna -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                @title
                            <small>Painel Administrativo</small>
                            </h1>
                                <!-- Corpo da página -->
                            <!-- Feedback ao usuário -->
                            @if(flash.containsKey("sucesso")) {
                                <div class="alert alert-success">
                                @flash.get("sucesso")
                                </div>
                            }
                            @if(flash.containsKey("erro")) {
                                <div class="alert alert-danger">
                                @flash.get("erro")
                                </div>
                            }
                            <!-- Conteúdo da página -->
                            @content
                        </div>
                    </div>
                        <!-- /.row -->

                </div>
                    <!-- /.container-fluid -->

            </div>
                <!-- /#page-wrapper -->

        </div>
            <!-- /#wrapper -->

    </body>
</html>
