@(produtoForm : Form[Produto],
        fornecedors : List[Fornecedor],
        categorias : List[Categoria])

@import helper._
@mainAdmin(Messages("produto.novo")) {

  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="@routes.ProdutoController.lista()">@Messages("global.voltar")</a></li>
    </ul>
  </div>
  <div>
    @helper.form(action=routes.ProdutoController.gravar()) {
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <div class="controls">

              @helper.inputText(produtoForm("nome"), '_label -> Messages("produto.nome"))

                <!-- Fornecedor -->
              @helper.select(
                produtoForm("fornecedor.codigo"),
                options(Fornecedor.options),
                '_label -> Messages("produto.nomeFornecedor"), '_default -> "Selecione o fornecedor"
              ) 

                <!-- Categoria -->
              @helper.select(
                produtoForm("categorias"),
                options(Categoria.options),
                'multiple -> "multiple",
                '_label -> Messages("produto.nomeCategoria"))

              @helper.inputText(produtoForm("descricao"), '_label -> Messages("produto.descricao"))
              @helper.inputText(produtoForm("modelo"), '_label -> Messages("produto.modelo"))
              @helper.inputText(produtoForm("preco"), '_label -> Messages("produto.preco"))
              @helper.inputText(produtoForm("quantidade"), '_label -> Messages("produto.quantidade"))
              @helper.inputText(produtoForm("altura"), '_label -> Messages("produto.altura"))
              @helper.inputText(produtoForm("largura"), '_label -> Messages("produto.largura"))
              @helper.inputText(produtoForm("comprimento"), '_label -> Messages("produto.comprimento"))
              @helper.inputText(produtoForm("peso"), '_label -> Messages("produto.peso"))


            </div>
          </div>

          <!-- Upload de imagem
          <table class="table table-striped table-bordered"
          cellpadding="0" cellspacing="0" border="0" width="100%">

            <!-- Depois adicionamos a lista de filmes e em seguida a opção de upload (
            type="file") no parâmetro picture.

            <tr>
              <th>Escolha uma ou mais imagens para fazer upload:</th>

            </tr>
            <tr>
              <td><p>Imagem 1</p>
                <input type="file" name="imagem1" class="form-control">
              </td>
            </tr>
            <tr>
              <td><p>Imagem 2</p>
                <input type="file" name="imagem2" class="form-control">
              </td>
            </tr>
            <tr>
              <td><p>Imagem 3</p>
                <input type="file" name="imagem3" class="form-control">
              </td>
            </tr>
          </table> -->
          }

    <div class="control-group">
      <label class="control-label" for="singlebutton"></label>
      <div class="controls">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">@Messages("global.salvar")</button>
      </div>
    </div>
  </div>
}