@(fabricanteForm : Form[Fabricante])

@mainAdmin(Messages("fabricante.novo")) {

  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="@routes.FabricanteCRUD.lista()">@Messages("global.voltar")</a></li>
    </ul>
  </div>
  <div>
    @helper.form(action=routes.FabricanteCRUD.gravar()) {
      <form class="form-horizontal">
        <fieldset>


          <div class="control-group">
            <div class="controls">
              <!-- Informações principais -->
                <!--
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-addon">
                      @helper.inputText(fabricanteForm("cnpj"), '_label -> "CNPJ do fabricante")
                    </span>
                    <span class="input-group-addon">
                      @helper.inputText(fabricanteForm("nome"), '_label -> "Nome do fabricante")
                    </span>
                  </div>
                </div>
              </div> -->

                <!-- Informações de contato -->
                <!--
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <span class="input-group-addon">
                    @helper.inputText(fabricanteForm("telefone1"), '_label -> Messages("contato.telefone1"))
                    </span>
                    <span class="input-group-addon">
                    @helper.inputText(fabricanteForm("telefone2"), '_label -> Messages("contato.telefone2"))
                    </span>
                    <span class="input-group-addon">
                    @helper.inputText(fabricanteForm("email"), '_label -> Messages("contato.email"))
                    </span>
                  </div>
                </div>
              </div> -->

              @helper.inputText(fabricanteForm("cnpj"), '_label -> "CNPJ do fabricante")
              @helper.inputText(fabricanteForm("nome"), '_label -> "Nome do fabricante")
              @helper.inputText(fabricanteForm("telefone1"), '_label -> Messages("contato.telefone1"))
              @helper.inputText(fabricanteForm("telefone2"), '_label -> Messages("contato.telefone2"))
              @helper.inputText(fabricanteForm("email"), '_label -> Messages("contato.email"))
              @helper.inputText(fabricanteForm("rua"), '_label -> Messages("endereco.rua"))
              @helper.inputText(fabricanteForm("numero"), '_label -> Messages("endereco.numero"))
              @helper.inputText(fabricanteForm("bairro"), '_label -> Messages("endereco.bairro"))
              @helper.inputText(fabricanteForm("cep"), '_label -> Messages("endereco.cep"))
              @helper.inputText(fabricanteForm("cidade"), '_label -> Messages("endereco.cidade"))
              @helper.inputText(fabricanteForm("estado"), '_label -> Messages("endereco.estado"))
              @helper.inputText(fabricanteForm("pais"), '_label -> Messages("endereco.pais"))
            </div>
          </div>
          }

    <div class="control-group">
      <label class="control-label" for="singlebutton"></label>
      <div class="controls">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">@Messages("global.salvar")</button>
      </div>
    </div>

}