@(produtos: List[Produto])
  @mainAdmin(Messages("produto.titulo")) {
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active">
          <a href="@routes.ProdutoController.novoProduto()">
          @Messages("produto.novo")
          </a>
        </li>
        <li class="active"><a href="@routes.Application.indexAdmin()">@Messages("global.voltar")</a></li>
      </ul>
    </div>

    <table class="table table-striped table-bordered" id="example"
    cellpadding="0" cellspacing="0" border="" width="100%">
      <thead>
        <tr class="active">
          <th>@Messages("produto.nome")</th>
          <th>@Messages("produto.nomeFornecedor")</th>
          <th>@Messages("produto.nomeCategoria")</th>
          <th>@Messages("produto.nomeCategoria2")</th>
          <th>@Messages("produto.preco")</th>
          <th>@Messages("produto.quantidade")</th>
        </tr>
      </thead>
      <tfoot>

          <!-- Lista todas as categorias cadastradas -->
        @for(produto <- produtos) {
          <tr>
              <!--Exibe informações -->
            <th>
              <a href="@routes.ProdutoController.detalhar(produto.getCodigo)">
                @produto.getNome()
              </a>
            </th>

            <th>
              <a href="@routes.FornecedorController.detalhar(produto.getFornecedor.getCodigo)">
            @produto.fornecedor.getNome()
              </a>
            </th>
            <th>
              <a href="@routes.CategoriaController.detalhar(produto.getCategoria1.getCodigo)">
            @produto.categoria1.getNome()
              </a>
            <th>
              @if(produto.getCategoria2 == null) {
                <p>Não especificada</p>
              }else{
                <a href="@routes.CategoriaController.detalhar(produto.getCategoria2.getCodigo)">
                  @produto.categoria2.getNome()
                </a>
              }
            </th>
            <th>
            @produto.getPreco()
            </th>
            <th>
            @produto.getQuantidade()
            </th>
          </tr>
        }
      </tfoot>
    </table>
  }